.workFilters {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  z-index: 21;
}

.workItem {
  cursor: pointer;
  font-weight: var(--font-bold);
  z-index: 21;
}

.workItem:hover {
  color: var(--first-color);
}

.workContainer {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
}
.icons {
  position: absolute;
  right: 10%;
  top: -20px;
  display: flex;
  gap: 07px;
  z-index: 40;
}
.links {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--container-color);
  box-shadow: var(--shadow);
  color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}
.cardImage {
  width: 100%;
  height: 380px;
  object-fit: cover;
  overflow: hidden;
  object-position: top;
}

.cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px;
  background-color:var(--title-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .cardOverlay {
  transform: translateY(0);
}

.cardHeader {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: 40px 0 0 0;
  background-color:var(--title-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.cardArc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 1;
}

.cardArc path {
  fill: var(--title-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .cardHeader {
  transform: translateY(0);
}

.cardTitle {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: white;
}


.cardTagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: white;
}
.techno {
  padding: 2px 15px;
  background-color: var(--first-color);
  font-size: 12px;
  color: white;
 box-shadow: var(--shadow);
}
.techno:nth-child(2) {
  background: purple;
  color: white;
}
.techno:nth-child(3) {
  background: green;
}
.cardStatus {
  font-size: 0.8em;
  color: #d7bdca;
}

.cardDescription {
  padding: 0 2em 2em;
  margin: 0;
  color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 13px;
}
.card:hover .cardDescription {
  margin-top: -30px;
  z-index: 30;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .workFilters {
    justify-content: center;
  }
  .workContainer {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .workFilters {
    row-gap: 0.25rem;
  }
  .workContainer {
    grid-template-columns: 310px;
  }
}

@media screen and (max-width: 350px) {
  .workContainer {
    grid-template-columns: 1fr;
  }
}
