 .workFilters{
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
 }

 .workItem{
    cursor: pointer;
    font-weight: var(--font-bold);
 }

 .workItem:hover{
    color: var(--first-color);
 }

 .workContainer{
    grid-template-columns: repeat(3 , 1fr);
    gap : 1.875rem;
 }

 .workCard{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
 }
 .workMask{
    background-color: #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
 }
 .workCard:hover .workMask{
    opacity: 0.9;
 }

 .workCategory{
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
 }

 .workTitle{
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top :3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
 }
 .workCard:hover .workTitle,
 .workCard:hover .workCategory{
    opacity: 1;
    transform: translateY(0);
 }
 .workBtn{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
 }
 .workCard:hover .workBtn{
    opacity: 1;
 }

 @media screen and (max-width: 1024px){
   .workFilters{
      justify-content: center;
   }
 .workContainer{
   grid-template-columns: repeat(2, 330px);
   justify-content: center;
   row-gap: 1.875rem;
 }
  
 }

 @media screen and (max-width: 768px){
   .workFilters{
      row-gap: .25rem;
   }
 .workContainer{
   grid-template-columns:  310px;
 }
  
 }

 @media screen and (max-width: 350px){
   .workContainer{
   grid-template-columns:  1fr;
 }
  
 }