.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 21;
}
.glasses{
  width: 30px;
  height: 30px;
  animation: rotate 3s linear infinite;
}
.intro {
  max-width: 540px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeImg {
  margin-bottom: 1.5rem;
}
.homeName {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
  margin-left: 25px;
}

.homeSocials {
  display: flex;
  column-gap: 1.75rem;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center;
}

.homeSocialLink {
  color: var(--title-color);
  font-size: 1.3rem;
  transition: 0.3s;
  cursor: pointer;
}

.homeSocialLink:hover {
  color: hsl(43, 100%, 68%);
}
.scrollDown {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  z-index: 21;
}

.homeScrollName {
  font-size: var(--small-font-size);
  color: var(--first-color);
}


.typeW{
  color: var(--first-color);
}
.mouseWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}


@keyframes ani-mouse {
  0% {
    top: 69%;
  }
  15% {
    top: 80%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 69%;
  }
}
@keyframes rotate {
   0%{
    transform: rotate(10deg);
   }
   15% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@media screen and (max-width: 1024px) {
  .homeSocialLink {
    font-size: 1.125rem;
  }
}

.wheel {
  display: flex;
   flex-direction: column;
  border-radius: 100%;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
  color: var(--text-color);
}


/* transform-origin: left bottom;
transform: rotate(-90deg); */