.aside{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--body-color);
    border-right: 1px solid rgba(0 , 0 , 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: .3s;
}

.navList{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.navLink{
    font-size: 1.2rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .3s;
    cursor: pointer;
}
.navLink:hover{
    color: hsl(43, 100%, 68%);
}

.copyright{
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.navToggle{
    position: fixed;
    top: 1.25rem;
    left: 1.87rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 21;
    border-radius: 4px;
    transition: .3s;
}


@media screen and (max-width: 1024px){
    .aside{
      left: -110px;
      z-index: 25;
    }
   .navToggle{
    display: flex;
    z-index: 25;
   }
.navToggleOpen{
    left: 140px;
    z-index: 25;
}
.showMenu{
    left: 0;
    z-index: 25;
}
  }