.blogContainer{
grid-template-columns: repeat(3, 1fr);
column-gap: 1.875rem;
}
.blogCard{
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.blogThumb{
    position: relative;
    overflow: hidden;
}
.blogImg{
    transform: scale(1);
    transition: .3s;
}

.blogThumb:hover .blogImg{
    transform: scale(1.1);
}

.blogCategory{
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;
    position: absolute;
    top: 0;
    left: 1.25rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.125rem 0.5rem;
    transition: .3s;
    z-index: 1;
}

.blogDetails{
    background-color: var(--container-color);
    padding: 1.25rem;
}
.blogTitle{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}
.blogMeta{
    display: flex;
    column-gap: 0.6rem;
    font-size: var(--small-font-size);
    color: #8b88b1;
}

.blogDot{
    font-weight: var(--font-bold);
}


@media screen and (max-width: 1024px){
  .blogContainer{
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
   
  }
 
  @media screen and (max-width: 768px){

  .blogContainer{
    grid-template-columns:  310px;
  }
   
  }

  @media screen and (max-width: 350px){
    .blogContainer{
    grid-template-columns:  1fr;
  }
   
  }